body {
	background: url("../img/snowBoarding.jpg") no-repeat center fixed;
	background-size:cover;
    width:100%; height:100%;
}
li {
	display: inline;
}

#Mynavbar {
	position:fixed;
	width:100%;
	margin:0px;
	text-align:center;
	background:#000000;
	border-bottom: 5px solid #00FF00;
	z-index:1;
}

#navbarOption {
	position:relative;
	top:25%;
	font-size: 20px;
	color:#00FF00;
	margin:30px 20px;
	padding:7px 80px;
	font-family: "Courier New", monospace;
	transition: 0.5s;
}
#navbarOption:hover {
	text-decoration:none;
	background-color: #00FF00;
	color:#000000;
	border-radius: 50px;
	animation: tabMove 0.6s forwards;
}
@keyframes tabMove {
	from {top:0px;}
	to {top:10px;}
}
.bottomLine {
	width:100%;
	border-top: solid 7px rgb(0, 255, 0);
	position: fixed;
	bottom:0px;
}

#vkLinkDiv {
	margin-top: 10px;
	height:60px;
	line-height: 60px;
	width:300px;
	text-align: center;
	background: rgba(140, 255, 102,0.2);
	color:#00FF00;
	 margin-left: auto ;
  	margin-right: auto ;
}
#vkLink {
	color: #b3ff99;
	font-size: 17px;
	font-family: "Arial Black", sans-serif;
  	display:inline-block;
	vertical-align:middle;
	text-decoration: none;
}
#vkLink:hover {
	opacity:0.6;
}
#countDownDiv {
	text-transform: uppercase;
	font-family: "Century Gothic";
	border-radius: 10px;
	color:#00FF00;
	background-color:rgba(0,0,0,0.3);
	text-align: center;
}
#countDownDD {
	line-height: 0.9;
	font-size: 40px;
	margin:10px 0;
}
#countDownDD span {
	font-size: 81px;
	font-family: 'Garamond';
}
#countDownHHMMSS {
	line-height: 0.9;
	font-size: 20px;
	display:inline-block;
	margin:0 10px;
}
#countDownHHMMSS span {
	font-size: 50px;
	font-family: 'Garamond';
}

#infoBlockDiv {
	height:1000px; 
	background-color:rgba(0,0,0,0.6);
	border-radius: 10px;
	margin-top: 10px;
}
