body {
    position:relative;
}
.headerPicture {
	height:460px;
	background:url('../img/mountainsPanorama4.jpg')no-repeat top left;
	background-size: cover;
	padding:0px;
}

blockquote {
	color:white;
	font-family: 'Poiret One', cursive;
	font-size: 25px;
	border-left: 1px solid white; 
}

.headerQuote {
	background-color:rgba(38, 38, 38, 0.3);
	height:460px;
	padding-top: 70px;
	padding-left:50px;
}
.myOrange{
	color:orange;
}
.myBold {
	font-weight: bold;
}
.affix {
	position: fixed;
  	top: 0;
  	width: 100%;
  	z-index: 9999 !important;
}
.affix #actionTimeImg {
	visibility: visible;
}

.img-responsive {
	display:block;
	max-width: 100%;
	height: auto;
}
#actionTimeImg {
	visibility: hidden;
	position: absolute;
	top: -20px;
}
@media screen and (max-width: 600px) {
  #actionTimeImg {
    visibility: hidden;
    display: none;
  }
  #aboutUs {
  	padding-left: 0px;
  	padding-right: 0px;
  }
  #headerDiv {
  	background-position: right;
  }
}
 .navbar {
      margin-bottom: 0px;
 }
 .navbar-nav {
    width: 100%;
    text-align: center;
 }
 .navbar-nav > li {
  	float: none;
  	display: inline-block;
 }
.affix ~ .container-fluid {
     position: relative;
}

.navbar-inverse{
	border-radius:0px;
	border:none;
	z-index:9999 !important;
	border-bottom: 3px solid orange;
	border-top: 3px solid orange;
}
.navbar-header img {
	height: 250px; overflow: visible;
}
#myNavbar li {
 	font-size: 25px;
 	font-family: 'Jura', sans-serif;
 	font-variant: small-caps;
}

#myNavbar a {
 text-align: center;
 border-radius:0px 0px 4px 4px;
 color:orange;
 padding:20px 20px 0px 20px;
 line-height: 40px;
 transition-duration: 0.6s;
}
#myNavbar a:hover,
#myNavbar a:active,
#myNavbar a:focus {
 background: orange !important;
 color: black;
 text-decoration:overline;
}
.comforta {
	font-family: 'Comfortaa', cursive;
}
.poiret {
	font-family: 'Poiret One', cursive;
}
.oNas {
	font-family: 'Comfortaa', cursive;
	padding-bottom: 40px;
	color: white;
}

#aboutUs {
	 background-image: url('../img/black.jpg');
	 background-repeat: no-repeat;
	 background-size: cover;
	 padding-top: 30px;
	 padding-bottom: 30px;
}
.oNasTab {
	color: orange;
	font-family: 'Comfortaa', cursive;
	font-size: 17px;
	border-bottom: 1px solid orange;
}

.nav-tabs.nav-justified>li>a {
	border-bottom: 1px solid orange;
	border-radius: 50px 50px 0px 0px;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus,
 .nav-tabs.nav-justified>li>a:hover,
 .nav-tabs.nav-justified>li>a:active,
 .nav-tabs.nav-justified>li>a:focus,
 .nav-tabs.nav-justified>.active>a {
 	background-color: rgba(255,255,255,0);
 	border-bottom: 0px;
 	border-color: orange;
 	color: orange;
 	transition: 0.5s;
 }

#countDownDiv {
	text-transform: uppercase;
	font-family: "Century Gothic";
	border-radius: 10px;
	color:#ffffff;
	background-color:rgba(0, 102, 255,0.7);
	text-align: center;
    margin-left: auto;
  	margin-right: auto;
}
#countDownDD {
	line-height: 0.9;
	font-size: 40px;
	margin:10px 0;
}
#countDownDD span {
	font-size: 81px;
	font-family: 'Garamond';
}
#countDownHHMMSS {
	line-height: 0.9;
	font-size: 20px;
	display:inline-block;
	margin:0 10px;
}
#countDownHHMMSS span {
	font-size: 50px;
	font-family: 'Garamond';
}

#infoBlockDiv {
	height:500px; 
	width:100%;
	background-color:#000660;
}
.btn {
	background-color: orange;
	border: 2px solid red;
	color: white;
}
.btn:hover {
	background-color: red;
	border: 2px solid orange;
	color: white;
}
.btn:active,
.btn:focus {
	background-color: red;
	color: white;
}
div.thumbnail img:hover {
	opacity: 0.8;
	box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}