<div controller = "HomePageCtrl" class="homePage">
	<div class="container-fluid" id="infoBlockDiv">
		<div  style="height:2000px;">
			
		</div>
		<div class="row-fluid" >
				<div class="col-md-12" style="background-color: #000660; height:550px;">
					<div class="col-md-5"></div>
					<div class="col-md-7" style="height:500px;">
						<div class="col-md-5"></div>
						<div class="col-md-7 wow animated  bounceInRight" data-wow-delay="0.5s" style="height:500px; border-radius: 0px 0px 10px 10px; margin-top: 20px;">
							<div class="row" id="countDownDiv">
					    		<div id="countDownDD">дней:</br><span>{{timeForEvent.days}}</span></div>
					    		<div>
						    		<div id="countDownHHMMSS">часов:</br><span>{{timeForEvent.hours}}</span></div>
						    		<div id="countDownHHMMSS">мин:</br><span>{{timeForEvent.minutes}}</span></div>
						    		<div id="countDownHHMMSS">сек:</br><span>{{timeForEvent.seconds}}</span></div>
					    		</div>
					    		<hr>
					    		<p>Осталось до следующего заезда </p>
							</div>
						</div>
					</div>
				</div>
		</div>

<div id="section1" class="container-fluid">
  <h1>Section 1</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section2" class="container-fluid">
  <h1>Section 2</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section3" class="container-fluid">
  <h1>Section 3</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section4" class="container-fluid">
  <h1>Section 3</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>


	</div>
<div>
