<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style/gallery.css">
</head>
<body style="background-color: orange;">

<div class="container">
	<div class="row-fluid">
		<section id="photos">
					<img src="/img/11.jpg">
		<img src="/img/11.jpg">
		<img src="/img/active.jpg">

		<img src="/img/11.jpg">
		<img src="/img/active.jpg">
		
		<img src="/img/active.jpg">
		<img src="/img/11.jpg">
		<img src="/img/11.jpg">
		<img src="/img/11.jpg">
		<img src="/img/11.jpg">
		<img src="/img/11.jpg">
		<img src="/img/11.jpg">
		<img src="/img/11.jpg">
		<img src="/img/beaverGeorge.jpg">
	</section>

	</div>

</div>