<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style/gallery.css">
</head>
<body style="background-color: orange;">

<section id="photos">
	<img src="/img/11.jpg">
	<img src="/img/11.jpg">
	<img src="/img/active.jpg">

	<img src="/img/11.jpg">
	<img src="/img/active.jpg">
	
	<img src="/img/active.jpg">
	<img src="/img/11.jpg">
	<img src="/img/11.jpg">
	<img src="/img/11.jpg">
	<img src="/img/11.jpg">
	<img src="/img/11.jpg">
	<img src="/img/11.jpg">
	<img src="/img/11.jpg">
	<img src="/img/beaverGeorge.jpg">


</section>




<h2 style="text-align:center">Image Gallery</h2>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-sm-3">
			<div class="responsive">
			  	<div class="img">
			      	<img src="/img/11.jpg" alt="Trolltunga Norway" width="300" height="200">
			  	</div>
			</div>
		</div>
				<div class="col-sm-3">
			<div class="responsive">
			  	<div class="img">
			      	<img src="/img/11.jpg" alt="Trolltunga Norway" width="300" height="200">
			  	</div>
			</div>
		</div>
				<div class="col-sm-3">
			<div class="responsive">
			  	<div class="img">
			      	<img src="/img/active.jpg" alt="Trolltunga Norway" height="200">
			  	</div>
			</div>
		</div>
				<div class="col-sm-3">
			<div class="responsive">
			  	<div class="img">
			      	<img src="/img/11.jpg" alt="Trolltunga Norway" width="300" height="200">
			  	</div>
			</div>
		</div>
				<div class="col-sm-3">
			<div class="responsive">
			  	<div class="img">
			      	<img src="/img/11.jpg" alt="Trolltunga Norway" width="300" height="200">
			  	</div>
			</div>
		</div>
				<div class="col-sm-3">
			<div class="responsive">
			  	<div class="img">
			      	<img src="/img/11.jpg" alt="Trolltunga Norway" width="300" height="200">
			  	</div>
			</div>
		</div>
				<div class="col-sm-3">
			<div class="responsive">
			  	<div class="img">
			      	<img src="/img/active.jpg" alt="Trolltunga Norway" width="300" height="200">
			  	</div>
			</div>
		</div>

	</div>
</div>



<div class="clearfix"></div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">×</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script src="/lib/gallery/gallery.js"></script>

</body>
</html>
