
<div>
	<div class="row-fluid" id="headerDiv" style="background-image: url('img/header1.jpg'); background-size: cover; height: 520px; color: white;">
		<div class="row" style="display: inline">
			<div class="col-sm-offset-6 col-md-offset-6 col-lg-offset-4 col-lg-4 col-md-6 col-sm-6 ">
				<h1 align="center" style="border-top: thin double orange; border-bottom: thin double orange; padding: 15px;"><span class="poiret">ЖИЗНЬ СЛИШКОМ КОРОТКА</span></h1>
				<h3 align="center" class="poiret">ЧТОБЫ ПРОСИЖИВАТЬ ЕЁ ДОМА</h3>
			</div>
			<div class="col-lg-4 poiret" align="right" style="font-size: 30px; padding-right: 30px">
				Тел:
				+(380)93-29-68-400</br>
				<div style="position: relative; bottom: 0; right: 0;">
					<a href=""><img src="img/facebook.png"/></a>
					<a href="https://vk.com/action_time_club"><img src="img/vkontakte.png"/></a>
					<a href=""><img src="img/youtube.png"/></a>
					<a href=""><img src="img/instagram.png"/></a>
				</div>
			</div>

		</div>	
	</div>
	<nav class="navbar" data-spy="affix" data-offset-top="365">
	  	<div class="container-fluid">
	    	<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	          		<span class="icon-bar"></span>
	          		<span class="icon-bar"></span>
	          		<span class="icon-bar"></span>                        
	      		</button>
	       		<img id="actionTimeImg" src="img/actionTime112.png">
	    	</div>
		    <div>
		      	<div class="collapse navbar-collapse" id="myNavbar">
		        	<ul class="nav navbar-nav wow animated bounceInRight" data-wow-delay="0.4s">
		          		<li><a class="hvr-float-shadow" href="#aboutUs">О нас</a></li>
		         		<li><a class="hvr-float-shadow" href="#section2">Даты</a></li>
		          		<li><a class="hvr-float-shadow" href="#section3">Цены</a></li>
		          		<li><a class="hvr-float-shadow" href="#section4">Советы</a></li>
		          		<li><a class="hvr-float-shadow" href="#gallery">Галерея</a></li>
		        	</ul>
		      	</div>
		    </div>
	  	</div>
	</nav>
	<div class=" container-fluid" style="background-color: white">
		<div class="row">
			<div style="margin-top: 20px;">
		    	<div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12" style="margin-bottom: 20px">
					<div class="embed-responsive embed-responsive-16by9">
					    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/UA0HtAJmJOU"></iframe>
					</div>
			    </div>

    		</div>
    	</div>
	    <div class="row comforta">
	    	<div class="wow animated fadeIn col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12" data-wow-delay="0.5s">
	    		<div style="padding-right: 13px; padding-left: 13px;">
					<p><span style="font-size: 40px; color: ">ACTION TIME</span> - Клуб Активного Отдыха</p>
			    	<p style="text-align: justify; font-size: 20px;">Вот уже несколько лет мы организовываем поездки на Драгобрат(Самый высокогорный курорт Украины!)
			    	До, уже культовой, поездки на заснеженные вершины карпатского экстрима начался отсчёт! В этом году все наши заезды будут НА ДЕНЬ БОЛЬШЕ, дабы не потратить драгоценный выходной и шанс получить еще больше заряда эмоций и позитива на весь год! Успей забронировать места на САМЫЙ КЛАССНЫЙ зимний отдых! 
		    		</p>
		    	</div>
	    	</div>
	    </div>
	</div>

<div style="background-image: url('img/ski-snowboard-mountain-snow.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">



	<div id="aboutUs" class="container-fluid">
		<div class="row-fluid">
			<div class="col-sm-offset-2 col-sm-8 ;"style="background-color: rgba(102, 102, 102, 0.4);">
				<h1 align="center" class="oNas" style="padding-bottom: 0px; padding-top: 30px">О НАС:</h1>
				<h4 align="center" class="oNas comforta" style="color:#8c8c8c">МОРЕ ПОЗИТИВА! ОТЛИЧНОЕ НАСТРОЕНИЕ! ТОННЫ СНЕГА И ЭМОЦИЙ!</h2>
				<selection class="nav-tabs-simple">
					<ul class="nav nav-tabs nav-justified">
						<li>
							<a href="#about1" data-toggle="tab" class="oNasTab"> Активный отдых! </a>
						</li>
						<li>
							<a href="#about2" data-toggle="tab" class="oNasTab"> Fun </a>
						</li>
						<li>
							<a href="#about3" data-toggle="tab" class="oNasTab"> Something </a>
						</li>
					</ul>
					<div class="tab-content" style="color:white;">
					  	<div id="about1" class="tab-pane fade in active">
					  		<article class="row" style="padding: 20px">
					  			<div class="col-md-6 col-sm-6 fadeInLeft animated visible">
					  				<img class="img-responsive" src="img/active1.jpg" style="float: center">
					  			</div>
					  			<div class="col-md-6 col-sm-6 text-left fadeInRight visible">
					  				<h2>Вас ждет:</h2>
					  				<ul>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  				</ul>
					  			</div>
					  		</article>
						</div>
						<div id="about2" class="tab-pane fade">
					  		<article class="row" style="padding: 20px">
					  			<div class="col-md-5 col-sm-5 fadeInRight animated visible">
					  				<img class="img-responsive" src="img/snowboardBlue.jpg">
					  			</div>
					  			<div class="col-md-6 col-sm-6 text-left fadeInLeft visible">
					  				<h2>Вас ждет:</h5>
					  				<ul>
					  					<li>Очень умный текст</li>
					  					<li>Очень умный текст</li>
					  					<li>Очень умный текст</li>
					  					<li>Очень умный текст</li>
					  					<li>Очень умный текст</li>
					  					<li>Очень умный текст</li>
					  					<li>Очень умный текст</li>
					  					<li>Очень умный текст</li>
					  					<li>Очень умный текст</li>
					  					<li>Очень умный текст</li>
					  				</ul>
					  			</div>
					  		</article>
						</div>
						<div id="about3" class="tab-pane fade">
					  		<article class="row" style="padding: 20px">
					  			<div class="col-md-5 col-sm-5 fadeInLeft animated visible">
					  				<img class="img-responsive" src="img/partyHard.jpg">
					  			</div>
					  			<div class="col-md-6 col-sm-6 text-left fadeInRight visible">
					  				<h2>Вас ждет:</h5>
					  				<ul>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  					<li>Ежедневное катание на заснеженных склонах</li>
					  				</ul>
					  			</div>
					  		</article>
						</div>
					</div>
				</selection>
			</div>
		</div>

	</div>
	<!-- <div style=" height: 70px; background-image: url('img/wood2.jpg');">
	</div>

	 -->

	<div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.4); border-top: 3px orange solid; border-bottom: 3px orange solid;">
		<div class="container poiret" style="color: white; margin-top: 200px; margin-bottom: 200px;">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-sx-6">
					<div class="fadeInDown wow animated" data-wow-delay="0.4s" style="text-align: center;">
						<div><span style="font-size: 100px;">12+</span></div>
						<div style="font-size: 30px">заездов</div>
						<hr width="20px">
						<p class="small" style="font-size: 18px">Оторвитесь по полной в следующем заезде!</p> 
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-sx-6">
					<div class="fadeInDown wow animated" data-wow-delay="0.6s" style="text-align: center;">
						<div><span style="font-size: 100px;">1000+</span></div>
						<div style="font-size: 30px">довольных людей</div>
						<hr width="20px">
						<p class="small" style="font-size: 18px">Войди в их число!</p> 
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-sx-6">
					<div class="fadeInDown wow animated" data-wow-delay="0.8s" style="text-align: center;">
						<div><span style="font-size: 100px;">1</span></div>
						<div style="font-size: 30px">незабываемое путешествие</div>
						<hr width="20px">
						<p class="small" style="font-size: 18px">Горы ждут тебя!</p> 
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!-- <div style=" height: 70px; background-image: url('img/wood2.jpg');">
	</div> -->

	<div class="container-fluid" id="gallery" style=" background-image: url('img/rainbowWall.jpg');">
		<div class="container" style="margin-top: 20px">
			<div class="row comforta" style="color: white; font-size: 50px; border-radius: 5px; background-color: orange; text-align: center;"><p>Галлерея:</p></div>
		</div>
		<div class="container" style="background-color: rgba(0, 0, 0, 0.4); margin-top: 30px; padding-top: 20px;">
			<div class="row-fluid">
			  	<div class="col-xs-6">
			    	<div class="thumbnail" style="text-align: center;">
			      		<a href=""><img src="img/2015.jpg" alt="2016"></a>
			       	 	<h3>2016 год. Нас все больше!</h3>
			        	<p>Первые поездки в горы. Незабываемые впечатления!</p>
			    	</div>
			  	</div>
			  	<div class="col-xs-6">
			    	<div class="thumbnail" style="text-align: center;">
			      		<a href=""><img src="img/2016.jpg" alt="2015"></a>
			       	 	<h3>2015 год. Еще больше заездов!</h3>
			        	<p>Первые поездки в горы. Незабываемые впечатления!</p>
			    	</div>
			  	</div>
		  	</div>
		  	<div class="row-fluid">
			  	<div class="col-xs-6">
			    	<div class="thumbnail" style="text-align: center;">
			      		<a href=""><img src="img/2014.jpg" alt="2014"></a>
			       	 	<h3>2014 год. Снова в горы!</h3>
			        	<p>Первые поездки в горы. Незабываемые впечатления!</p>
			    	</div>
			  	</div>
			  	<div class="col-xs-6">
			    	<div class="thumbnail" style="text-align: center;">
			      		<a href="gallery/index.html"><img src="img/2013.jpg" alt="2013"></a>
			       	 	<h3>2013 год. Начало!</h3>
			        	<p>Первые поездки в горы. Незабываемые впечатления!</p>
			    	</div>
			  	</div>
			</div>
		</div>

	</div>
</div>



</div>


