
<div class = "headerClass">
	<div class = "container-fluid">
		<div class="row">
			<ul class="col-md-12"id="Mynavbar">
		        <li><a href="#" id="navbarOption">Home</a></li>
		        <li><a href="#" id="navbarOption">О Нас</a></li>
		        <li><a href="#" id="navbarOption">Даты заездов</a></li> 
		        <li><a href="#" id="navbarOption">Цены</a></li> 
		        <li><a href="#" id="navbarOption">Советы</a></li>
		        <li><a href="#" id="navbarOption">Организаторы</a></li> 
			</ul>
		</div>
	</div>

	<div style="height:50px;">

	</div>
	<div class="bottomLine">
	</div>

</div>