
<div class="row-fluid" id="headerDiv" style="background-image: url('img/grey31.jpg');padding-bottom: 100px; padding-top: 100px; color: white;">
	<div class="row">
		<div class="col-lg-6 col-md-9 col-sm-9 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
			<h1 align="center" style="border-top: thin double orange; border-bottom: thin double orange; padding: 15px;"><span class="poiret">ЖИЗНЬ СЛИШКОМ КОРОТКА</span></h1>
			<h3 align="center" class="poiret">ЧТОБЫ ПРОСИЖИВАТЬ ЕЁ ДОМА</h3>
		</div>	

	</div>	
</div>
</div>
<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="319">
  	<div class="container-fluid">
    	<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>                        
      		</button>
       		<img id="actionTimeImg" src="img/actionTime112.png">
    	</div>
	    <div>
	      	<div class="collapse navbar-collapse" id="myNavbar" style="position: center;">
	        	<ul class="nav navbar-nav">
	          		<li><a href="#section1">о нас</a></li>
	         		<li><a href="#section2">даты</a></li>
	          		<li><a href="#section3">цены</a></li>
	          		<li><a href="#section4">советы</a></li>
	          		<li><a href="#section5">галерея</a></li>
	        	</ul>
	      	</div>
	    </div>
  	</div>
</nav>

<div class=" container-fluid" style="background-image: url('img/orangeBackground2.png');">
	<div class="row" style="padding: 50px;">
    	<div class="col-lg-6 col-md-9 col-sm-12" >
			<div class="embed-responsive embed-responsive-16by9">
			    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/UA0HtAJmJOU"></iframe>
			</div>
	    </div>
	    <div class="col-lg-6 col-md-3 col-sm-12 comforta">
	    	<p><span style="font-size: 40px; color: ">ACTION TIME</span> - Клуб Активного Отдыха</p>
	    	<p style="text-align: justify; font-size: 20px;">Вот уже несколько лет мы организовываем поездки на Драгобрат(Самый высокогорный курорт Украины!)
	    	До, уже культовой, поездки на заснеженные вершины карпатского экстрима начался отсчёт! В этом году все наши заезды будут НА ДЕНЬ БОЛЬШЕ, дабы не потратить драгоценный выходной и шанс получить еще больше заряда эмоций и позитива на весь год! Успей забронировать места на САМЫЙ КЛАССНЫЙ зимний отдых! 
	    	</p>
	    </div>
    </div>
</div>
<div id="section1" class="container-fluid" style=" background-image: url('img/11.jpg'); background-repeat: no-repeat; background-size: cover; padding: 30px;">
	<div class="row-fluid">
		<div class="col-md-4">	</div>
		<div class="col-md-8" style="background-color: rgba(102, 102, 102, 0.4);">
			<h1 align="center" class="oNas" style="padding-bottom: 0px">О НАС:</h1>
			<h4 align="center" class="oNas" style="color:#8c8c8c">МОРЕ ПОЗИТИВА! ОТЛИЧНОЕ НАСТРОЕНИЕ! ТОННЫ СНЕГА И ЭМОЦИЙ!</h2>
			<selection class="nav-tabs-simple">
				<ul class="nav nav-tabs nav-justified">
					<li>
						<a href="#about1" data-toggle="tab" class="oNasTab"> Активный отдых! </a>
					</li>
					<li>
						<a href="#about2" data-toggle="tab" class="oNasTab"> Fun </a>
					</li>
					<li>
						<a href="#about3" data-toggle="tab" class="oNasTab"> Something </a>
					</li>
				</ul>
				<div class="tab-content" style="color:white;">
				  	<div id="about1" class="tab-pane fade in active">
				  		<article class="row" style="padding: 20px">
				  			<div class="col-md-5 col-sm-5 fadeInLeft wow animated visible"  data-wow-delay="0.2s">
				  				<img class="img-responsive" src="img/active1.jpg">
				  			</div>
				  			<div class="col-md-6 col-sm-6 text-left wow fadeInRight visible" data-wow-delay="0.2s">
				  				<h2>Вас ждет:</h5>
				  				<ul>
				  					<li>Ежедневное катание на заснеженных склонах</li>
				  				</ul>
				  			</div>
				  		</article>
					</div>
					<div id="about2" class="tab-pane fade">
						<h3>Menu 1</h3>
						<p>Some content in menu 1.</p>
					</div>
					<div id="about3" class="tab-pane fade">
						<h3>Menu 2</h3>
						<p>Some content in menu 2.</p>
					</div>
				</div>
			</selection>
		</div>
	</div>

</div>
<!-- <div style=" height: 70px; background-image: url('img/wood2.jpg');">
</div>

 -->

<div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.6); border-top: 3px orange solid; border-bottom: 3px orange solid;">
	<div class="container comforta" style="color: white; margin-top: 100px; margin-bottom: 100px;">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-sx-6">
				<div class="fadeInDown wow animated" data-wow-delay="0.3s" style="text-align: center;">
					<div><span style="font-size: 100px;">12+</span></div>
					<div style="font-size: 30px">заездов</div>
					<hr width="20px">
					<p class="small" style="font-size: 18px">Оторвитесь по полной в следующем заезде</p> 
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-sx-6">
				<div class="fadeInDown wow animated" data-wow-delay="0.5s" style="text-align: center;">
					<div><span style="font-size: 100px;">1000+</span></div>
					<div style="font-size: 30px">довольных людей</div>
					<hr width="20px">
					<p class="small" style="font-size: 18px">войди в их число!</p> 
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-sx-6">
				<div class="fadeInDown wow animated" data-wow-delay="0.7s" style="text-align: center;">
					<div><span style="font-size: 100px;">0</span></div>
					<div style="font-size: 30px">травм</div>
					<hr width="20px">
					<p class="small" style="font-size: 18px">Езжай, а вдруг ты будешь первым?</p> 
				</div>
			</div>
		</div>
		
	</div>
</div>
<!-- <div style=" height: 70px; background-image: url('img/wood2.jpg');">
</div> -->

<div id="section2" style="height:1000px; background-color: grey;">
</div>
